<% if @posts.size == 0 %>
  <div>Add a post in /content/posts</div>
<% else %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= l(post.published_at) %>
        <%= link_to post.title, content_path(post.slug) %>
      </li>
    <% end %>
  </ul>
<% end %>