header.main {
  position: relative;
  margin-top: 80px;
  margin-bottom: 50px;
  h1 {
    margin: 0;
    padding-top: 8px;
    a, a:hover {
      display: block;
      padding-left: 80px;
      font-size: 100px;
      color: $black;
      text-decoration: none;
    }
  }
  h2 {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    font-family: $sansFontFamily;
    font-size: 26px;
    line-height: 22px;
    color: $grayLighter;
  }
  a#logo {
    display: block;
    position: absolute;
    bottom: 0;
    left: -68px;
  }
  a#twitter {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

section.main {
  margin-bottom: 36px;
}

article {
  margin-bottom: 50px;
  header {
    margin-bottom: 30px;
    h1 {
      $height: 38px;
      font-size: $height;
      line-height: $height;
      margin-bottom: 0;
      a, a:hover {
        color: #7c7c7c;
      }
    }
    small {
      font-size: 20px;
      font-style: italic;
    }
    time {
      color: $grayLighter;
    }
    ul.tags {
      display: inline;
      margin: 0 0 0 10px;
      li {
        display: inline;
      }
    }
  }
}

nav, footer {
  width: 680px;
  margin: 0 auto;
  padding: 18px 0;
  text-align: center;
  border-top: 2px solid #DCDCDC;
}
nav {
  ul {
    margin: 0;
    color: $grayLighter;
  }
  li {
    display: inline;
  }
  li:after {
    content: " / ";
  } 
  li:last-child:after {
    content: "";
  }
}
footer {
  $lineHeight: 30px;
  line-height: $lineHeight;
  li {
    line-height: $lineHeight;
    list-style: none;
  }
  ul {
    margin-top: 10px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}