figure {
  margin: 0;
}
figcaption {
  font-size: 0.8em;
}
blockquote {
  border: none;
  padding: 0 6% 0 6%;
  p {
    font-style: italic;
    font-size: 24px;
  }
}
pre, code {
  color: $grayDark;
}
pre {
  background-color: transparent;
  font-size: 18px;
  word-wrap: normal;
  overflow: scroll;
  white-space: pre;
  display: block;
}

header.main {
  position: relative;
  margin-top: 80px;
  margin-bottom: 50px;
  #titles {
    margin-left: 80px;
  }
  h1 {
    margin: 0;
    $height: 56px;
    font-size: $height;
    line-height: $height + 8px;
    a, a:hover {
      display: block;
      color: $black;
      text-decoration: none;
    }
  }
  h2 {
    margin-top: 4px;
    padding-left: 4px;
    font-family: $sansFontFamily;
    font-size: 26px;
    line-height: 22px;
    color: $grayLighter;
  }
  a#logo {
    display: block;
    position: absolute;
    top: -57px;
    left: -68px;
  }
  ul#links {
    display: block;
    position: absolute;
    right: 0;
    top: 19px;
    margin: 0;
    text-align: right;
    li {
      line-height: 27px;
      list-style: none;
    }
  }
}

section.main {
  margin-bottom: 36px;

  header {
    margin-bottom: 24px;
    h1 {
      $height: 40px;
      font-size: $height;
      line-height: $height;
      margin-bottom: 0;
      a, a:hover {
        color: #7c7c7c;
      }
    }
    small {
      font-size: 20px;
      font-style: italic;
      color: $grayLighter;
    }
    ul.tags {
      display: inline;
      margin: 0 0 0 10px;
      li {
        display: inline;
      }
      li:after {
        content: ", ";
      }
      li:last-child:after {
        content: "";
      }
    }
  }
}
article {
  margin-bottom: 50px;
  word-break: break-word;
  h2 {
    font-size: 1.6em;
  }
  $margin: 20px;
  .float {
    max-width: 420px;
    margin-bottom: $margin;
    img {
      width: 100%;
    }
  }
  .right {
    @extend .float;
    float: right;
    margin-left: $margin;
  }
  .left {
    @extend .float;
    float: left;
    margin-right: $margin;
  }
  .overflow {
    overflow: hidden;
  }
}

nav, footer {
  width: 680px;
  margin: 0 auto;
  padding: 18px 0;
  text-align: center;
  border-top: 2px solid #DCDCDC;
}
nav {
  ul {
    margin: 0;
    color: $grayLighter;
  }
  li {
    display: inline;
  }
  li:after {
    content: " / ";
  } 
  li:last-child:after {
    content: "";
  }
}
footer {
  line-height: 30px;
}

@media (min-width: 768px) and (max-width: 979px) {

}
@media (max-width: 979px) {
  header.main {
    h1 {
      $height: 50px;
      font-size: $height;
      line-height: $height + 10px;
    }
    ul#links {
      top: 12px;
    }
  }
}
@media (min-width: 979px) and (max-width: 1080px) {
  header.main {
    a#logo {
      left: -20px;
    }
    #titles {
      margin-left: 128px;
    }
  }
}
@media (max-width: 860px) {
  header.main {
    a#logo {
      left: -26px;
    }
    #titles {
      margin-left: 122px;
    }
    ul#links {
      position: static;
      text-align: left;
      margin-left: 124px;
    }
  }
}
@media (max-width: 720px) {
  nav, footer {
    width: auto;
    margin: 0 20px;
  }
  article {
    .left, .right {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 560px) {
  header.main {
    margin-top: 18px;
    a#logo {
      position: relative;
      top: 0;
      left: -8px;
    }
    #titles, ul#links {
      margin-left: 60px;
    }
  }
}
@media (max-width: 420px) {
  header.main {
    a#logo {
      left: 0;
    }
  }
}