// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #424242;
$grayDarker:            #222;
$grayDark:              #7C7C7C;
$gray:                  #8A8A8A;
$grayLight:             #999;
$grayLighter:           #CACACA;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #BDD372;
$red:                   #9C0001;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;


// Scaffolding
// -------------------------
$bodyBackground:        #F9F9F9;
$textColor:             $gray;


// Links
// -------------------------
$linkColor:             $green;
$linkColorHover:        $linkColor;


// Typography
// -------------------------
$serifFontFamily:       "Book Antiqua", "Palatino Linotype", Palatino, serif;
$sansFontFamily:        "Heiti SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontSize:          22px;
$baseFontFamily:        $serifFontFamily;
$baseLineHeight:        $baseFontSize * 1.6;
$altFontFamily:         $sansFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    normal;    // instead of browser default, bold
$headingsColor:         $grayDark; // empty to use BS default, $textColor

// Default 940px grid
// -------------------------
$gridColumnWidth:         60px;
$gridGutterWidth:         20px;
$gridColumnWidth1200:     $gridColumnWidth;
$gridGutterWidth1200:     $gridGutterWidth;
$gridColumnWidth768:      42px;
$gridGutterWidth768:      20px;
