<!DOCTYPE html>
<html>
<head>
  <title>Kimkode</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
LAYOUT
<%= yield %>

</body>
</html>
